header {
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.back-button, header h1 a {
    text-decoration: none;
    color: #000;
}
.material-symbols-outlined {
    font-size: 50px;
    font-weight: 900;
}

.title-container {
    flex-grow: 1; /* Allow the container to grow and take up available space */
    text-align: center; /* Center the text within the container */
  }

header h1 {
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    border-bottom: 2px solid #bebebe;
    margin: 0 20px;
}