<header>
    @if (showBackButton) {
        @if (year === undefined) {
            <a [routerLink]="backLink" class="back-button"><span class="material-symbols-outlined">
                arrow_back
            </span></a>
        }
        @if (year !== undefined) {
            <a [routerLink]="backLink" [queryParams]="{year: year}" class="back-button"><span class="material-symbols-outlined">
                arrow_back
            </span></a>
        }
    }
    <div class="title-container">
        <h1><a routerLink="">BuzzNote Demo App</a></h1>
    </div>
</header>
@if (showHR) {
    <hr/>
}