<app-header [showBackButton]="false" />
<div class="container">
    <app-alerts [error]="error" [message]="message" />
    <main>
        @if (inspectionID !== 0) {
        @if (showBoxSelection) {
        <h2>Choose a box to inspect</h2>
        <div class="button-group-column">
            @for (box of boxes; track $index) {
            <button class="button white large full" (click)="selectBox(box)">{{box.box_name}}</button>
            }
        </div>
        }
        @if (!showBoxSelection) {
        <h2>Current Frame: {{currentFrameNumber}}</h2>
        <app-frame-toggle-button label="Honey" [sideAValue]="currentFrame.honey.sideA"
            [sideBValue]="currentFrame.honey.sideB" (sideAChange)="currentFrame.honey.sideA = $event"
            (sideBChange)="currentFrame.honey.sideB = $event" />
        <app-frame-toggle-button label="Nectar" [sideAValue]="currentFrame.nectar.sideA"
            [sideBValue]="currentFrame.nectar.sideB" (sideAChange)="currentFrame.nectar.sideA = $event"
            (sideBChange)="currentFrame.nectar.sideB = $event"></app-frame-toggle-button>
    
        <app-frame-toggle-button label="Brood" [sideAValue]="currentFrame.brood.sideA"
            [sideBValue]="currentFrame.brood.sideB" (sideAChange)="currentFrame.brood.sideA = $event"
            (sideBChange)="currentFrame.brood.sideB = $event"></app-frame-toggle-button>
    
        <app-frame-toggle-button label="Queen Cells" [sideAValue]="currentFrame.cells.sideA"
            [sideBValue]="currentFrame.cells.sideB" (sideAChange)="currentFrame.cells.sideA = $event"
            (sideBChange)="currentFrame.cells.sideB = $event"></app-frame-toggle-button>
    
        <app-frame-toggle-button label="Drawn Comb" [sideAValue]="currentFrame.comb.sideA"
            [sideBValue]="currentFrame.comb.sideB" (sideAChange)="currentFrame.comb.sideA = $event"
            (sideBChange)="currentFrame.comb.sideB = $event"></app-frame-toggle-button>
        <app-frame-toggle-button label="Queen Spotted" [sideAValue]="currentFrame.queenSpotted.sideA"
            [sideBValue]="currentFrame.queenSpotted.sideB" (sideAChange)="currentFrame.queenSpotted.sideA = $event"
            (sideBChange)="currentFrame.queenSpotted.sideB = $event"></app-frame-toggle-button>

        <div class="button-group-row">
            @if (boxes?.length !== 0) {
            @if (currentFrameNumber < currentBox.num_frames) { <button class="button blue" (click)="onSubmit(1)">Next
                Frame</button>
                }
                }
                @if (boxes?.length! > 1) {
                <button class="button green" (click)="onSubmit(2)">Next Box</button>
                }
                <button class="button orange" (click)="goToEnd()">Finish Inspection</button>
        </div>
        }
        }
    </main>
</div>

