.box-container {
    border: 1px solid black;
    padding: 3px;
}

.frame-container {
    border: 1px solid black;
    padding: 3px;
}

.none {
    background-color: black;
    color: white;
}

.honey {
    background-color: yellow;
    color: black;
}

.nectar {
    background-color: blue;
    color: white;
}