<app-header [showHR]="true" [backLink]="backLink.page" [year]="backLink.year!"/>
<div class="container">
    <app-alerts [error]="error" [message]="message" />
    @if (loading) {
    <p>Loading...</p>
    }
    @if (!loading && !error) {
    <h2 class="center">{{inspection?.hive_name}}</h2>
    <h4 class="center">{{formatDate()}} | {{inspection?.start_time}}</h4>
  
    <main>
      <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Weather</th>
          <th scope="col">Bee Temperament</th>
          <th scope="col">Bee Population</th>
          <th scope="col">Drone Population</th>
          <th scope="col">Laying Pattern</th>
          <th scope="col">Hive Beetles</th>
          <th scope="col">Other Pests</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{inspection?.weather_temp}}F {{inspection?.weather_condition}}</td>
          <td>{{inspection?.bee_temperament}}</td>
          <td>{{inspection?.bee_population}}</td>
          <td>{{inspection?.drone_population}}</td>
          <td>{{inspection?.laying_pattern}}</td>
          <td>{{inspection?.hive_beetles}}</td>
          <td>{{inspection?.other_pests}}</td>
        </tr>
      </tbody>
    </table>
  </div>
    <app-average-detail [inspectionID]="inspectionId" />
    <h2>Notes</h2>
    @if (!showTextArea) {
    <p [innerHTML]="notes"></p>
    
    <button class="button white" (click)="showTextArea = !showTextArea">Add Notes</button>
    }
    @if (showTextArea) {
    <textarea [(ngModel)]="newNotes" class="textbox"></textarea>
    <button class="button green" (click)="onSubmit(1)">Sumbit</button>
    <button class="button red" (click)="onSubmit(2)">Cancel</button>
    }
  </main>
    }
  
</div>