@if (loading) {
    <p>Loading frames</p>
}
@if (!loading) {
    <div>
        <div class="table-responsive">
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">Frame #</th>
                  <th scope="col">Honey</th>
                  <th scope="col">Nectar</th>
                  <th scope="col">Brood</th>
                  <th scope="col">Queen Cells</th>
                  <th scope="col">Drawn Comb</th>
                </tr>
              </thead>
              <tbody>
          @for (frame of frames; track $index) {
              <tr>
                  <td>{{frame.frame_number}}</td>
                  <td>{{frame.honey}}</td>
                  <td>{{frame.nectar}}</td>
                  <td>{{frame.brood}}</td>
                  <td>{{frame.queen_cells}}</td>
                  <td>{{frame.drawn_comb}}</td>
              </tr>
          }
          </tbody>
          </table>
          </div>
      </div>
}
  