<app-header [showBackButton]="false" />
<div class="container">
    <app-alerts [error]="error" [message]="message" />
    <main>
        @if (!error) {
        <h3 class="center">Bee Temperament</h3>
        <div class="button-group-row">
            <button class="button full green" [class.half]="updatedInspection.bee_temperament !== 'Calm'"
                (click)="onClick('temerament', 'Calm')">Calm</button>
            <button class="button full yellow" [class.half]="updatedInspection.bee_temperament !== 'Nervous'"
                (click)="onClick('temerament', 'Nervous')">Nervous</button>
            <button class="button full orange" [class.half]="updatedInspection.bee_temperament !== 'Angry'"
                (click)="onClick('temerament', 'Angry')">Angry</button>
            <button class="button full red" [class.half]="updatedInspection.bee_temperament !== 'Crazy'"
                (click)="onClick('temerament', 'Crazy')">Crazy</button>
        </div>
        <h3 class="center">Bee Population</h3>
        <div class="button-group-row">
            <button class="button full yellow" [class.half]="updatedInspection.bee_population !== 'Low'"
                (click)="onClick('beePop', 'Low')">Low</button>
            <button class="button full green" [class.half]="updatedInspection.bee_population !== 'Normal'"
                (click)="onClick('beePop', 'Normal')">Normal</button>
            <button class="button full yellow" [class.half]="updatedInspection.bee_population !== 'Crowded'"
                (click)="onClick('beePop', 'Crowded')">Crowded</button>
        </div>
        <h3 class="center">Drone Population</h3>
        <div class="button-group-row">
            <button class="button full yellow" [class.half]="updatedInspection.drone_population !== 'Low'"
                (click)="onClick('dronePop', 'Low')">Low</button>
            <button class="button full green" [class.half]="updatedInspection.drone_population !== 'Normal'"
                (click)="onClick('dronePop', 'Normal')">Normal</button>
            <button class="button full yellow" [class.half]="updatedInspection.drone_population !== 'Crowded'"
                (click)="onClick('dronePop', 'Crowded')">Crowded</button>
        </div>
        <h3 class="center">Laying Pattern</h3>
        <div class="button-group-row">
            <button class="button full green" [class.half]="updatedInspection.laying_pattern !== 'Good'"
                (click)="onClick('laying', 'Good')">Good</button>
            <button class="button full yellow" [class.half]="updatedInspection.laying_pattern !== 'Spotty'"
                (click)="onClick('laying', 'Spotty')">Spotty</button>
        </div>
        <h3 class="center">Hive Beetles</h3>
        <div class="button-group-row">
            <button class="button full green" [class.half]="updatedInspection.hive_beetles !== 'None'"
                (click)="onClick('beetles', 'None')">None</button>
            <button class="button full yellow" [class.half]="updatedInspection.hive_beetles !== 'Few'"
                (click)="onClick('beetles', 'Few')">Few</button>
            <button class="button full red" [class.half]="updatedInspection.hive_beetles !== 'Lots'"
                (click)="onClick('beetles', 'Lots')">Lots</button>
        </div>
        <h3 class="center">Other Pests</h3>
        <div class="button-group-row">
            <button class="button full green" [class.half]="updatedInspection.other_pests !== 'None'"
                (click)="onClick('pests', 'None')">None</button>
            <button class="button full yellow" [class.half]="updatedInspection.other_pests !== 'Few'"
                (click)="onClick('pests', 'Few')">Few</button>
            <button class="button full red" [class.half]="updatedInspection.other_pests !== 'Lots'"
                (click)="onClick('pests', 'Lots')">Lots</button>
        </div>
        @if (allFilledIn) {
        <button class="button grey" (click)="finishInspection()">Finish Inspection</button>
        }
        }
    </main>
</div>
