<app-header [showBackButton]="true"/>
<div class="container">
  <main>
    <p>Hives: {{hives?.length}}</p>
    @if (loading) {
    <p>Loading Hives...</p>
    }
    @if (message) {
      <div class="alert alert-success" role="alert">
          {{message}}
      </div>
  }
      @if (error) {
      <div class="alert alert-danger" role="alert">
          {{error}}
      </div>
      }
    @if (!loading) {
      <p>Click on a hive to view and update</p>
      <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Hive Name</th>
          <th scope="col"># of boxes</th>
          <th scope="col">Active</th>
        </tr>
      </thead>
      <tbody>
        @for (hive of hives; track $index) {
        <tr (click)="viewHive(hive.hive_id)">
          <th scope="row">{{hive.hive_id}}</th>
          <td>{{hive.hive_name}}</td>
          <td>{{hive.num_boxes}}</td>
          <td>{{hive.active}}</td>
        </tr>
        }
      </tbody>
    </table>
    </div>
    <button class="button green" (click)="showAdd = !showAdd">Add New Hive</button>
    @if (showAdd) {
    <div class="popupBackground">
      <div class="popup">
        <h2>Enter the details for the new hive</h2>
        <div class="row">
          <div class="col">
            <label for="hiveName">Hive Name</label>
            <input type="text" class="form-control" placeholder="Hive Name" aria-label="Hive Name"
              [(ngModel)]="newHive.hive_name" id="hiveName">
          </div>
          <div class="col">
            <button class="button" [class.green]="newHive.active" [class.grey]="!newHive.active"
              (click)="newHive.active = !newHive.active">
              {{newHive.active ? 'Active' : 'Not Active'}}
            </button>
          </div>
        </div>
        <div class="button-group-row">
          <button class="button red"  [disabled]="addingHive">Cancel</button>
          <button class="button green" (click)="addNewHive()" [disabled]="addingHive">Add Hive</button>
        </div>
      </div>
    </div>
    }
    }
  </main>
</div>
