<app-header [showBackButton]="true" backLink="/hives"/>
<div class="container">
    <app-alerts [error]="error" [message]="message" />
    <main>
        @if (loading) {
            <p>Loading hive details...</p>
        }
        @if (!loading) {
            <div class="header-row">
                <h2 class="item-2">Hive {{hive.hive_name}} - {{hive.active ? 'Active' : 'Not Active'}}</h2>
                <button class="button orange item-3" (click)="showEdit = true">Edit Hive</button>
            </div>
            <app-box-detail [hiveID]="hiveID" [numBoxes]="hive.num_boxes!"/>
        }
        @if (showEdit) {
            <div class="popupBackground">
                <div class="popup">
                    <h2>Edit Hive Info</h2>
                    <div class="row">
                        <div class="col">
                            <label for="hiveName">Hive Name</label>
                            <input type="text" class="form-control" placeholder="Hive Name" aria-label="Hive Name"
                            [(ngModel)]="updatedHive.hive_name">
                        </div>
                        <div class="col">
                            <button class="button"
                            [class.green]="updatedHive.active"
                            [class.grey]="!updatedHive.active"
                            (click)="updatedHive.active = !updatedHive.active">
                                {{updatedHive.active ? 'Active' : 'Not Active'}}
                        </button>
                        </div>
                    </div>
                    <div class="button-group-row">
                        <button class="button red" (click)="onSubmit(2)">Cancel</button>
                <button class="button green" (click)="onSubmit(1)">Update Hive</button>
                    </div>
                </div>
            </div>
        }
        </main>
</div>