@if (loading) {
    <p>Loading boxes...</p>
    }
    @if (!loading) {
    @if (boxes !== null && boxes !== undefined && boxes.length > 0) {
        <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Box Name</th>
                <th scope="col"># of Frames</th>
                <th scope="col">Overwinter</th>
                <th scope="col">Active</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            @for (box of boxes; track $index) {
            <tr>
                <td>{{box.box_name}}</td>
                <td>{{box.num_frames}}</td>
                <td>{{box.overwinter ? 'Overwinter' : 'Not Overwinter'}}</td>
                <td>{{box.active ? 'Active' : 'Not Active'}}</td>
                <td><button class="material-symbols-outlined edit-button" (click)="editBox(box.box_id)">edit</button></td>
            </tr>
            }
        </tbody>
    </table>
    </div>
    }
    <button class="button blue" (click)="showAdd = true">Add a new Box</button>
    @if (showAdd) {
    <div class="popupBackground">
        <div class="popup">
            <p>Add go here</p>
        </div>
    </div>
    }
    @if (showEdit) {
    <div class="popupBackground">
        <div class="popup">
            <h2>Edit Box {{updatedBox.box_name}}</h2>
            <div class="row">
                <div class="col">
                    <label for="boxName">Box Name</label>
                    <input type="text" class="form-control" placeholder="Box Name" aria-label="Box Name"
                        [(ngModel)]="updatedBox.box_name" id="boxName">
                </div>
                <div class="col">
                    <label for="numFrames"># of Frames</label>
                    <input type="number" class="form-control" placeholder="# of Frames" aria-label="# of Frames"
                        [(ngModel)]="updatedBox.num_frames" id="numFrames">
                </div>
                <div class="col">
                    <label for="boxType">Type</label>
                    <input type="text" class="form-control" placeholder="type" aria-label="type"
                        [(ngModel)]="updatedBox.box_type" id="boxType">
                </div>
                <div class="col">
                    <button class="button" [class.green]="updatedBox.overwinter" [class.grey]="!updatedBox.overwinter"
                        (click)="updatedBox.overwinter = !updatedBox.overwinter">
                        {{updatedBox.overwinter ? 'Overwinter' : 'Not Overwinter'}}
                    </button>
                </div>
                <div class="col">
                    <button class="button" [class.green]="updatedBox.active" [class.grey]="!updatedBox.active"
                        (click)="updatedBox.active = !updatedBox.active">
                        {{updatedBox.active ? 'Active' : 'Not Active'}}
                    </button>
                </div>
            </div>
            <div class="button-group-row">
                <button class="button red" (click)="onSubmit(2)">Cancel</button>
                <button class="button green" (click)="onSubmit(1)">Update Box</button>
            </div>
        </div>
    </div>
    }
    @if (showAdd) {
        <div class="popupBackground">
            <div class="popup">
                <h2>Add a new box</h2>
                <div class="row">
                    <div class="col">
                        <label for="boxName">Box Name</label>
                        <input type="text" class="form-control" placeholder="Box Name" aria-label="Box Name"
                            [(ngModel)]="newBox.box_name" id="boxName">
                    </div>
                    <div class="col">
                        <label for="numFrames"># of Frames</label>
                        <input type="number" class="form-control" placeholder="# of Frames" aria-label="# of Frames"
                            [(ngModel)]="newBox.num_frames" id="numFrames">
                    </div>
                    <div class="col">
                        <label for="boxType">Type</label>
                        <input type="text" class="form-control" placeholder="type" aria-label="type"
                            [(ngModel)]="newBox.box_type" id="boxType">
                    </div>
                    <div class="col">
                        <button class="button" [class.green]="newBox.overwinter" [class.grey]="!newBox.overwinter"
                            (click)="newBox.overwinter = !newBox.overwinter">
                            {{newBox.overwinter ? 'Overwinter' : 'Not Overwinter'}}
                        </button>
                    </div>
                    <div class="col">
                        <button class="button" [class.green]="newBox.active" [class.grey]="!newBox.active"
                            (click)="newBox.active = !newBox.active">
                            {{newBox.active ? 'Active' : 'Not Active'}}
                        </button>
                    </div>
                </div>
                <div class="button-group-row">
                    <button class="button red" (click)="onSubmit(4)">Cancel</button>
                    <button class="button green" (click)="onSubmit(3)">Add Box</button>
                </div>
            </div>
        </div>
        }
    }
