<app-header [showHR]="false"/>
<div class="container">
    <app-alerts [error]="error" [message]="message" />
    <main>
<h2>Choose a search option</h2>
        <section class="button-group-row">
            <button class="button" [class.white]="searchFor !== 'hives'" [class.blue]="searchFor === 'hives'"
                (click)="showSearchOptions(1)">Hive</button>
            <button class="button" [class.white]="searchFor !== 'dateRange'" [class.blue]="searchFor === 'dateRange'"
                (click)="showSearchOptions(2)">Date Range</button>
            <button class="button" [class.white]="searchFor !== 'tempRange'" [class.blue]="searchFor === 'tempRange'"
                (click)="showSearchOptions(3)">Temperature Range</button>
            <button class="button" [class.white]="searchFor !== 'weather'" [class.blue]="searchFor === 'weather'"
                (click)="showSearchOptions(4)">Weather Condition</button>
            <button class="button" [class.white]="searchFor !== 'queen'" [class.blue]="searchFor === 'queen'"
                (click)="showSearchOptions(5)">Queen Spotted</button>
        </section>
        @if (showSearchOption === 1) {
        <p>Choose a hive:</p>
        <section class="button-group-row">
            @for (hive of hives; track $index) {
            <button class="button white" (click)="filterForHiveID(hive.hive_id, hive.hive_name)">{{hive.hive_name}}</button>
            }
        </section>
        }
        @if (showSearchOption === 2) {
        <p>Search dates between</p>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="yyyy-mm-dd" aria-label="yyyy-mm-dd"
                    [(ngModel)]="dateRange.startDate">
            </div>
            <div class="col">
                <p>AND</p>
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="yyyy-mm-dd" aria-label="yyyy-mm-dd"
                    [(ngModel)]="dateRange.endDate">
            </div>
            <div class="col">
                <button class="button green" (click)="serchDateRange()">Serch</button>
            </div>
        </div>
        }
        @if (showSearchOption === 3) {
        <p>Search temperature between</p>
        <div class="row">
            <div class="col">
                <input type="number" class="form-control" placeholder="Minimum Temperature" aria-label="Minimum Temperature"
                    [(ngModel)]="tempRange.minTemp">
            </div>
            <div class="col">
                <p>AND</p>
            </div>
            <div class="col">
                <input type="number" class="form-control" placeholder="Maximum Temperature" aria-label="Maximum Temperature"
                    [(ngModel)]="tempRange.maxTemp">
            </div>
            <div class="col">
                <button class="button green" (click)="searchTempRange()">Serch</button>
            </div>
        </div>
        }
        @if (showSearchOption === 4) {
        <hr />
        <div class="row">
            <div class="col">
                <label for="weather">Weather Condition:</label>
            </div>
            <div class="col">
                <select class="form-select form-select-lg mb-3" aria-label="Weather Condition"
                    [(ngModel)]="selectedWeatherCondition">
                    <option [value]="'select'">Select</option>
                    @for (condition of weatherConditions; track $index) {
                    <option [value]="condition">{{condition}}</option>
                    }
                </select>
            </div>
            <div class="col">
                <button class="button green" (click)="searchWeather()">Search</button>
            </div>
        </div>
        }
        @if (showSearchOption === 5) {
            <p>Filter Queen Spotted</p>
            <div class="row">
                <div class="col">
                    <button class="button green full" (click)="filterQueen(true)">Queen was spotted</button>
                </div>
                <div class="col">
                    <button class="button red full" (click)="filterQueen(false)">Queen not spotted</button>
                </div>
            </div>
        }
        @if (loading) {
        Loading search results...
        }
        @if (searchResults && searchResults.length > 0) {
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Hive Name</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">Box Count</th>
                        <th scope="col">Total Frame Count</th>
                    </tr>
                </thead>
                <tbody>
                    @for (inspection of searchResults; track $index) {
                    <tr (click)="viewInspection(inspection.inspection_id)">
                        <td>{{inspection.inspection_date.toString().split('T')[0]}}</td>
                        <td>{{inspection.hive_name}}</td>
                        <td>{{inspection.start_time}}</td>
                        <td>{{inspection.num_boxes}}</td>
                        <td>{{inspection.total_frames}}</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        }
    </main>
</div>
