<app-header [showBackButton]="false" [showHR]="false"/>
<div class="container">
    <main>
        <section class="button-group-column">
            <a routerLink="start" class="large full button green">Start New Inspection</a>
            <a routerLink="past" class="large full button orange">View Past Inspections</a>
            <a routerLink="hives" class="large full button purple">Manage Hives</a>
            <a routerLink="search" class="large full button blue">Seach</a>
        </section>
    </main>
</div>