@if (showTable) {
<h2>Box Averages</h2>
@if (loading) {
<p>Loading...</p>
}
@if (!loading) {

@for (average of averages; track $index) {
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Box</th>
        <th scope="col"># of Frames</th>
        <th scope="col">Honey</th>
        <th scope="col">Nectar</th>
        <th scope="col">Brood</th>
        <th scope="col">Queen Cells</th>
        <th scope="col">Drawn Comb</th>
        <th scope="col">Queen Spotted</th>
        <th scope="col">Show Frames</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{average.box_name}}</td>
        <td>{{average.num_frames}}</td>
        <td>{{average.honey}}%</td>
        <td>{{average.nectar}}%</td>
        <td>{{average.brood}}%</td>
        <td>{{average.queen_cells}}%</td>
        <td>{{average.drawn_comb}}%</td>
        <td>{{average.queen_spotted}}</td>
        <td><button class="edit-button" (click)="average.showFrames = !average.showFrames">
            @if (!average.showFrames) {
            <span class="material-symbols-outlined">
              unfold_more
            </span>
            }
            @if (average.showFrames) {
            <span class="material-symbols-outlined">
              unfold_less
            </span>
            }
          </button>
        </td>
      </tr>
      @if(average.showFrames) {
      <tr>
        <td [attr.colspan]="9">
          <app-frame-detail [inspectionID]="inspectionID" [boxName]="average.box_name" />
        </td>
      </tr>
      }
    </tbody>
  </table>
  </div>
  <app-visual-detail [inspectionID]="inspectionID" [boxName]="average.box_name" [queen]="average.queen_spotted" />
  }
}
}